<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/Content/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Top content -->
    <div class="top-content" >

        <div class="inner-bg" style="background-image: url(/Content/assets/img/backgrounds/Phông-Nền-Nhật-Bản.jpg); background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="container">
              
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        @*<h1><strong>QUẢN LÝ NHÀ HÀNG</strong></h1>*@
                        <div class="description">
                            <p>
                              
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Đăng nhập</h3>
                                <p>Nhập tài khoản và mật khẩu:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="@Url.Action("DangNhap","Home")" method="post">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Tài khoản</label>
                                    <input type="text" name="TaiKhoan" value="@ViewBag.TaiKhoan" placeholder="Tài khoản..." class="form-username form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Mật khẩu</label>
                                    <input type="password" name="MatKhau" value="@ViewBag.MatKhau" placeholder="Mật khẩu..." class="form-password form-control">
                                </div>
                                <button type="submit" class="btn">Đăng nhập</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>